#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

.total-row {
  background-color: #9cead4 !important;
  font-weight: 600 !important;
}

.total-row:hover {
  background-color: #bae7ff !important;
}
